<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="masysdio.masplayerpre">

    <uses-sdk tools:overrideLibrary="com.bullhead.equalizer" />
    <!-- So we can play data while the device is locked -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.RED">
        <activity
            android:name="masysdio.masplayerpre.Activities.SettingActivity"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:parentActivityName="masysdio.masplayerpre.Activities.MainScreen" />
        <activity
            android:name="masysdio.masplayerpre.Activities.XXX"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" /> <!-- Services (run on the background) -->
        <service
            android:name="masysdio.masplayerpre.services.ServicePlayMusic"
            android:enabled="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity
            android:name="masysdio.masplayerpre.Activities.MainScreen"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="masysdio.masplayerpre.Activities.PlayingNowList" />
        <activity
            android:name="masysdio.masplayerpre.Activities.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity android:name="masysdio.masplayerpre.Activities.PlayerView" />
    </application>

</manifest>